.mobile-menu {
    text-decoration: none;
    
}

.mobile-nav {
    margin-bottom: 306px;
}


.mobile-nav__item{
    
        &:not(:last-child) {
            margin-bottom: 32px;
        }
 }





.mobile-nav__link {
    font-family: Roboto;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--title-cl);

    &:focus,
    &:hover {
        color: var(--accent-txt-cl);
    }

    &--current {
        color: var(--accent-txt-cl);
    }
}

.mobile-menu__flex {
    position: fixed;
    bottom: 0;
    margin-bottom: 48px;
}

.mobile-menu__link {
text-decoration: none;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 1.17;
letter-spacing: 0.02em;
color: #757575;}

.mobile-menu__item {

    &:not(:last-child) {
        margin-bottom: 32px;
    }
}
.mobile-menu__number {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #2196F3;
    margin-bottom: 32px;

}
.networks {
    display: flex;
    flex-direction: row;
    padding-top: 64px;
    column-rule: #2196F3;
}
.networks__item {
    border-left:1px solid rgba(33, 33, 33, 0.2);;
    padding-left: 10px;
    padding-right: 10px;

    &:first-child {
        border: none;
        padding-left: 0;
    }
}

.networks__link{
    list-style-type: none;
    text-decoration: none;

}

.networks__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2196F3;
    
    
}
