/*PORTFOLIO*/
/*LIST OF BUTTONS*/


.button-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    margin-bottom: 40px;

    grid-gap: 8px;
    grid-row-gap: 15px;

    @media (min-width: 768px) {
        justify-content: center;
        margin-bottom: 30px;
    }

    @media (min-width: 1200px) {
        margin-bottom: 50px;
    }
}



.button-list__style {
    cursor: pointer;
    padding: 6px 22px;
    font-weight: 500;
    line-height: 1.62;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-cl);
    background-color: var(--team-bg);
    border: transparent;
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

   &:hover,
   &:focus {
    background-color: var(--accent-bg-cl);
    color: var(--light-txt-cl);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
} 
}


// //картки портфоліо

.cards {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }

    @media screen and (max-width: 479px) {
        padding-left: 15px;
        padding-right: 15px;
    }
}



@media screen and (min-width: 768px) {
    .cards__list {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        margin-top: -15px;
        margin-right: -15px;
    
        &:hover {
            transform: translateY(0);
        }
    
        // & .cards__content:nth-child(3n) {
        //     margin-right: 0;
        // }
    }
}

.cards__content{
    @media screen and (min-width: 768px) {
width: 354px;
height: 440px;
}}

.cards__content {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        width:calc((100% - 2 * 30px) / 2);
        margin-top: 15px;
        margin-right: 15px;

    }

    
    &:not(last-child) {
        @media screen and (max-width: 767px) {
            margin-bottom: 30px;
        }
    }

}
.cards__content{
@media screen and (min-width: 1200px) {
       height: 404px;
        width: calc((100% - 3 * 30px) / 3);
    
    }}
.cards__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-cl);
}

.cards__info {
    font-size: 16px;
    line-height: 1.85;
    letter-spacing: 0.03em;
    color: var(--txt-cl);
}


.cards {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;

    &:hover {
        transform: translateY(0);
    }

    // & .cards__content:nth-child(3n) {
    //     margin-right: 0;
    // }
}

.cards__poster {
    @media screen and (min-width: 768px) {
        padding-bottom: 0;
    }
}


.cards__descr {
    padding: 20px 24px;
    border: 1px solid #058791;
    border-top: transparent;
}

.cards__descr {
    @media screen and (min-width: 480px){
    padding: 20px 24px;
    border: 1px solid #058791;
    border-top: transparent;}

@media screen and (min-width: 768px) {
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 56px;
    padding-left: 24px;
}
@media screen and (min-width: 1200px) {
padding: 20px 24px;
}}

.cards__link {
    text-decoration: none;
    color: currentColor;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards__design {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}




// попередня версія
// /*PORTFOLIO*/
// /*LIST OF BUTTONS*/


// .button-list {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: flex-start;

//     margin-bottom: 40px;

//     grid-gap: 8px;
//     grid-row-gap: 15px;

//     @media (min-width: 768px) {
//         justify-content: center;
//         margin-bottom: 30px;
//     }

//     @media (min-width: 1200px) {
//         margin-bottom: 50px;
//     }
// }



// .button-list__style {
//     cursor: pointer;
//     padding: 6px 22px;
//     font-weight: 500;
//     line-height: 1.62;
//     font-size: 16px;
//     text-align: center;
//     letter-spacing: 0.03em;
//     color: var(--title-cl);
//     background-color: var(--team-bg);
//     border: transparent;
//     border-radius: 4px;
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
//         background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
//         box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     &:hover,
//     &:focus {
//         background-color: var(--accent-bg-cl);
//         color: var(--light-txt-cl);
//         box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
//     }
// }


// // //картки портфоліо

// .cards {
//     padding-top: 60px;
//     padding-bottom: 60px;

//     @media screen and (min-width: 1200px) {
//         padding-top: 94px;
//         padding-bottom: 94px;
//     }

//     @media screen and (max-width: 479px) {
//         padding-left: 15px;
//         padding-right: 15px;
//     }
// }


// .cards__list {
//     display: flex;
//     flex-wrap: wrap;
//     list-style-type: none;

//     &:hover {
//         transform: translateY(0);
//     }

//     & .cards__content:nth-child(3n) {
//         margin-right: 0;
//     }
// }

// .cards__title {
//     font-size: 18px;
//     font-weight: 700;
//     line-height: 2;
//     letter-spacing: 0.06em;
//     color: var(--title-cl);
// }

// .cards__info {
//     font-size: 16px;
//     line-height: 1.85;
//     letter-spacing: 0.03em;
//     color: var(--txt-cl);
// }


// .cards {
//     display: flex;
//     flex-wrap: wrap;
//     list-style-type: none;

//     &:hover {
//         transform: translateY(0);
//     }

//     & .cards__content:nth-child(3n) {
//         margin-right: 0;
//     }
// }






// .cards__content {
//     margin-right: 30px;
//     margin-bottom: 30px;
//     width: 370px;

//     &:nth-last-child(-n+3) {
//         margin-bottom: 0;
//     }
// }


// .cards__link {
//     text-decoration: none;
//     color: currentColor;
//     transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .cards__design {
//     display: block;
//     transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     &:hover,
//     &:focus {
//         box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
//     }
// }