
/*SUBSCRIBE*/
.subscribe-form {
        margin-top: 60px;

        @media (min-width: 768px) {
            margin-top: 0px;
            padding: 0;
        }

        @media (min-width: 1200px) {
            margin-left: 23px;
        }
    }

.subscribe-form__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--light-txt-cl);
    padding-bottom: 20px;

}


.subscribe-form__wrapper {
    // margin-top: 20px;
    // display: inline-flex;
    // align-items: center;
    // justify-content: center;
    // flex-direction: column;
    
    
    @media (min-width: 1200px){
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}}


.subscribe-form__label {
    margin-right: 12px;
}

.subscribe-form__input {
    width: 450px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    padding-left: 16px;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    @media (min-width: 1200px) {
        width: 358px;
        }

}

.subscribe {
    display: flex;
    justify-content: center;
    align-items: center;

}

.subscribe__button {
    cursor: pointer;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--light-txt-cl);
    background-color: var(--accent-bg-cl);
    border-radius: 4px;
    border: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    min-height: 50px;
    margin-top: 20px;
    @media (min-width: 1200px){
        margin-top: 0;
    }


}

.subscribe__icon {
    fill: var(--light-txt-cl);
    margin-left: 9px;

}